<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="order-mapper">
<resultMap id="orderResultMap" type="Order">
    <id     property="orderNo"    column="ORDER_NO"/>
    <result property="memberNo"   column="MEMBER_NO"/>
    <result property="menuNo"     column="MENU_NO"/>
    <result property="quantity"   column="QUANTITY"/>
    <result property="orderDate"  column="ORDER_DATE"/>
    <result property="status"     column="STATUS"/>
    <!-- JOIN 결과 -->
    <result property="memberName" column="MEMBER_NAME"/>
    <result property="restName"   column="REST_NAME"/>
    <result property="menuName"   column="MENU_NAME"/>
    <result property="price"      column="PRICE"/>
</resultMap>
<insert id="insertOrder" parameterType="order">
 INSERT
	INTO
		ORDERS
	VALUES
		(
		SEQ_ORDER_NO.NEXTVAL
		, #{memberNo}
		, #{menuNo}
		, #{quantity}
		, SYSDATE
		, '주문접수'
		)
</insert>
<select id="checkSoldOut" resultType="int">
SELECT
	CASE WHEN SOLD_OUT = 'Y' THEN 1 ELSE 0 END AS soldOut
FROM
	MENU
WHERE
	MENU_NO = #{menuNo}
</select>
<select id ="selectMyOrder" resultMap="orderResultMap">
SELECT
	ors.ORDER_NO
	,res.REST_NAME
	,me.MENU_NAME
	,ors.QUANTITY
	,ors.STATUS
	,me.PRICE
	,res.DELIVERY_FEE	
FROM
	DELI_MEMBER deli
LEFT OUTER JOIN ORDERS ors
	ON deli.MEMBER_NO = ors.MEMBER_NO
LEFT OUTER JOIN MENU me
	ON ors.MENU_NO = me.MENU_NO
LEFT OUTER JOIN RESTAURANT res
	ON me.REST_NO = res.REST_NO
WHERE
	deli.MEMBER_NO = #{memberNo}
ORDER
BY
ors.ORDER_NO DESC
</select>
<update id = "orderCancel" parameterType="order">
UPDATE 
	ORDERS
SET 
	STATUS = '주문취소'
WHERE 
	ORDER_NO = #{orderNo}
AND 
	STATUS = '주문접수'
</update>
</mapper>